.container {
  margin: 1em 0;
  font: 200 1.5em 'Helvetica', 'sans-serif';
}

.button {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #F54997;
}

.buttonActive {
  color: #fff;
  background: #F54997;
}
