.container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #000;
}

.image {
  transition: 0.2s transform ease-out;
}

.container:hover .image, .container:active .image {
  transform: scale(1.05);
}

.titleContainer {
  position: absolute;
  bottom: 0;
  box-sizing: content-box;
  width: 100%;
  padding: 0.444em 0;
  font: 300 2.5em/1.35 'Helvetica', 'sans-serif';
  background: linear-gradient(to top, #000, transparent);
  color: #fff;
  text-shadow: 1pt 1pt 0 rgba(0, 0, 0, 0.4);
}

.title {
  display: block;
  max-height: 4.05em;
  padding: 0 0.667em;
  overflow: hidden;
}
