.container {
  margin: 1em 0;
  font: 600 1.5em 'Helvetica', 'sans-serif';
}

.button {
  display: inline-block;
  width: 1.5em;
  text-align: center;
  text-decoration: none;
  color: #F54997;
}

.buttonActive {
  color: #fff;
}
